@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-primary;
    @apply text-gray-600;
  }
  h1 {
    @apply text-3xl;
    @apply mb-8;
  }
  h2 {
    @apply text-2xl;
    @apply font-semibold;
    @apply mb-2;
  }
  p {
    @apply mb-2;
  }
}
